---
import styles from "../styles/globals.css?url"
// import "@/styles/globals.css"
import Search from "../components/search"
---

<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href={styles}>

		<title>تجميعه</title>
	</head>
	<body>
		<header>
			<nav class="px-10 py-5 flex justify-between gap-5">
				<img src="/logo.svg" width="150" height="47" alt="">
				<Search client:idle />
			</nav>
		</header>
	</body>
</html>
